body{
  background-color: cornflowerblue;
}

#do{
  font-size: 56px;
  font-family: 'Cinzel', serif;
  color: white;
}

.iframe{
  height: 600px;
  width:  inherit;
}
#welcome{
  height: 120;
  align-content: left;
  padding-top: 25;
}

#nav{
  background-color: grey;
  margin-bottom: 20px;
}

#do{
  align-content: left;

}

.h{
  padding-top: 20;
  color: black;
  font-family: 'Abril Fatface', cursive;
  height: 120px;
  border-right-width: 3;
  border-right-style: solid;
  border-right-color: black;
  background-color: darkkhaki;
}

.rightside{
  background-color: aquamarine;
}

#w{
  height: 120px;
  padding-top: 20;
  color: black;
  font-family: 'Asap', sans-serif;
  background-color: darkcyan;
  padding-top: 20;
  margin-bottom: 8px;
  border-left-width: 3;
  border-left-style: solid;
  border-left-color: black;
}


a:link {
  color: inherit;
}

/* visited link */
a:visited {
  color: inherit;
}

/* mouse over link */
a:hover {
  color: darkslategray;
}

/* selected link */
a:active {
  color: inherit;
}