body {
  background-color: white;
}

/*ID's*/
#titlename {
  font-family: 'abril fatface', serif;
  text-align: center;
  padding-left: 2em;
  font-size: 1.5em;
}

#projecttitlename {
  font-family: 'abril fatface', serif;
  text-align: left;
}

#home {
  font-family: 'Abril Fatface', cursive;
}

#home {
  margin-top: 5em;
  padding-left: 4em;
  font-size: xx-large;
}

#landingname {
  text-align: left;
  font-family: 'asap', sans-serif;
  margin-top: -5em;
}

#image {
  height: 17em;
  width: 25em;
  border-radius: 16px;
  border-style: solid;
  border-color: black;
}

#contact-link-image{
  height: 2em;
  padding-left: 2em;
}

#contact-link-spacing{
  height: 3em;
  font-size: x-large;
  padding-top: 4em;
}


/*Classes*/

.wordsstyle {
  font-family: 'asap', sans-serif;
  font-size: medium;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.navitem {
  font-family: 'abril fatface', sans-serif;
  text-align: left;
}


/*Link Designation Begins Here*/

a:link {
  color: inherit;
}

/* visited link */
a:visited {
  color: inherit;
}

/* mouse over link */
a:hover {
  color: darkslategray;
}

/* selected link */
a:active {
  color: inherit;
}

/*Hexagon for Landing Image*/
.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 175%;
  background-image: url("../images/daniellanding.jpg");
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon2 {
  width: 20em;
  height: 20em;
  margin: 4em 0 0 0px;
}

/* Responsiveness*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #949494;
  width: 100%;
  height: 5em;
  align-items: center;
}

.navitem {
  background-color: #949494;
  width: 100%;
  display: inline-block;
  align-content: center;
  text-align: left;
  cursor: -webkit-grab;
}

.content {
  padding-top: 2%;
  height: auto;
  width: auto;
  display: inline-block;
}

.image-content {
  display: block;
  padding-bottom: 2em;
}

.row {
  margin-left: 0;
  margin-right: 0;
}


/* Mobile Styles */

@media only screen and (max-width:800px) {


  /*Classes*/
  .navitem {
    text-align: center;
  }
  .navbar {
    height: 7em;
  }
  .wordsstyle {
    padding-left: 1.5em;
  }
  .hexagon2 {
    width: 17em;
    height: 12em;
    margin: 0 0 0 0;
  }

  /*ID's*/

  #titlename {
    text-align: center;
    padding-left: 1em;
    font-size: 1.3em;
  }
  #landingname {
    margin-top: 0em;
  }
  #home {
    margin-top: 0.5em;
    padding-left: .7em;
  }
  #heading {
    font-size: large;
  }
  #image{
    height: 12em;
    width: 18em;
    border-radius: 16px;
    border-style: solid;
    border-color: black;
  };

  /* Tablet Styles */
  @media only screen and (min-width: 500px) and (max-width:960px) {
    /*Class*/
    .navitem {
      text-align: left;
    }
    .navitem {
      height: 8em;
    }

    /*ID*/
    #titlename {
      text-align: center;
      padding-left: 1em;
      font-size: 1.5em;
    }
  };
  /*Desktop Styles */
  @media only screen and (min-width:961px) {
  };